.header{
    display: flex;
    flex-direction: row;
    height:80px;
    border-bottom: 1px solid rgb(204, 204, 204);
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 1;
    /* margin-top: -20px; or we can use;  */
    top: 0;
    left: 0;
    right: 0;
}

.leftwing{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 30px;
    width:30px;
    margin-left: 35px;
    margin-right: 45px;
}

.ytlogo{
    width: 100px;
}

.midwing {
    display: flex;
    /* flex:1; */
    align-items: center;
    margin-right: 30px;
    /* /* margin-left: 70px;  */
    width: 1000px;

}

.search-bar{
    border: 1px solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    height:43px;
    width: 700px;
    flex:1;
    font-size: 16px;
    padding-left: 10px;
    /* border-radius: 2px; */
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 1px 1px 2px rgb(238, 237, 237);
    margin-right: -2px;
    margin-left:100px;
    z-index: 2;
    width: 0;
}
/* .button:focus {
    border: 1px solid red;
} */

search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 20px;
}


.sbbutton{
    position: relative;
    width: 66px;
    border-style: solid;
    border-color: rgb(192, 192, 192); 
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    height:43px;
    z-index: 1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    /* margin-left: -1px; */
    }

.sbbutton .search-tool-tip {
    position: absolute;
    background-color: rgb(98, 97, 97);
    color: white;
    font-family: Roboto, Arial;
    padding: 9px;
    border-radius: 2px;
    bottom: -60px;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.15s;
    pointer-events: none;
}

.sbbutton:hover .search-tool-tip{
    opacity: 0.6;
}

.voice-button{
    position: relative;
    width: 43px;
    height:43px;
    border: none;
    border-radius: 80px;
    margin-left: 10px;
    padding-right: 7px;
    background-color: rgb(245, 245, 245);  
}

.voice-button .searchb-tooltip {
    position: absolute;
    background-color: rgb(98, 97, 97); 
    color: white;
    font-family: Roboto, Arial;
    padding-bottom: 10px;
    white-space: nowrap;
    /* width: 145px; */
    border-radius: 2px;
    padding-top: 10px;
    bottom: -60px; 
    right: -45px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;        
}

.voice-button:hover .searchb-tooltip, 
.create:hover .create-tool-tip, 
.create-icon-container:hover .create-tool-tip,
.ytapps-container:hover .ytapps-tool-tip, 
.notification-icon:hover .noti-tool-tip{
    opacity: 0.7;
}

.rightwing{
    display:flex;
    /* flex:1; */
    /* background-color: lightblue; */
    width: 200px;
    margin-right: 20px;
    align-items:center;
    justify-content: space-between;
    flex-shrink: 0;
}

.create{
    width: 25px;

}

.create-icon-container{
    position: relative;
}

.create-icon-container .create-tool-tip{
    position: absolute;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    background-color: rgb(98, 97, 97); 
    color: white;
    font-family: Roboto, Arial;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    left: px;
    bottom: -70px; 
    right: -25px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;     
}
/* .create-icon-container:hover .create-tool-tip{
    opacity: 1;
} */

.yt-apps{
    width: 25px;
}
.ytapps-container{
    position: relative;
}

.ytapps-container .ytapps-tool-tip{
    position: absolute;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    background-color: rgb(98, 97, 97); 
    color: white;
    font-family: Roboto, Arial;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    left: -35px;
    bottom: -70px; 
    right: -25px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none; 
}

.notificatons{
    width: 25px;
}

.notification-icon .noti-tool-tip{
    position: absolute;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    background-color: rgb(98, 97, 97); 
    color: white;
    font-family: Roboto, Arial;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 0px;
    left: px;
    bottom: -70px; 
    right: -40px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;     
}

.notification-icon{
    position: relative;
}

.notification-counter{
    position: absolute;
    background-color: brown;
    color:white;
    top: -5px;
    right: -5px;
    font-family: roboto, arial;
    font-size: 9px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 3px;
    border: 1px solid white;
    border-radius: 10px;
    height: 9px;
    width: 5px;
}

.profilepic{
    width: 40px;
    height:40px;
    mix-blend-mode:multiply;
    border-radius: 35px;
}
