.sidebar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    left: 0;
    top: 80px;
    width: 100px;
    z-index: 2;
    padding-top: 10px;
}

.sidebar-button {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sidebar-button:hover{
    background-color: rgb(233, 231, 231);
}

.sidebar-button img{
    width: 35px;
    margin-bottom: 6px;
} 

.sidebar-icons-descriptions {
    font-family: roboto, arial;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
}